{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for item in listings %}
        {% if not item.closed %}
            <ul>
                <li>
                <h3><a href= "{% url 'listing' item.id %}">{{item.title}}</a></h3>
                <br>
                <p>Current Price: {{item.current_price}} $</p>
                <p> {{item.description}} </p>
                {% if item.image_url %}
                <div style = "text-align : right" >
                <img src = "{{item.image_url}}" >
                </div>
                {% endif %}
                </li>
            </ul>
        {% endif %}
            {% empty %}  
            <ul>
            <li>No Active Listing..</li>
            </ul>

    {% endfor %}

{% endblock %}